# We don't want the PDF to take useless space
*.pdf

# Mac-specific useless files
.DS_Store

# Emacs temporary files
.#*

# Python temporary files (cache and helpers)
.mypy_cache/

# Relevant stuff for paperwork
paperwork/

# Early drawings
drawings/

# Chapter revisions
manuscript/chapter_revisions

# Large data files
data/broadcast_logs/BroadcastLogs_2018_Q3_M8.CSV

# Scribbles
scribbles.*

# Data files from Chapter 7 that are too big to be git-ted. Better to download them using the script
/data/backblaze/*.zip
/data/backblaze/d*

# References for chapters and appendixes
chapter_reference.txt
appendix_reference.txt
